{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["react", "prettier", "react-hooks"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "comma-dangle": ["error", "never"],
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "arg": "none"
      }
    ],
    "react/jsx-filename-extension": 0,
    "linebreak-style": ["error", "unix"],
    "prettier/prettier": ["error"]
  }
}
