#root {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.app {
  color: steelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
